**/.klocwork/
**/.vs/
**/.idea/
**/Bin/
**/Bin_Debug/
**/Setup/Output/
**/Debug/
**/Release/
**/Release_Prod/
**/obj/
**/lost+found/
**/vcredist/

*.sdf
*.suo
*.opensdf
*.psess
*.csproj.user
*.adp
*_i.c
*_p.c
*_i.h
*.ipch
*.vcxproj.vspscc
*.vcxproj.user
*dlldata.c
*.aps
*.pdb
*.tlb
*.~vsd
*.vsp
*.orig
*.backup
*.ccexclude
*.user
*.copyarea.db
*.copyarea.dat
*.cc_loading
*.keep


