<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.33.4" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.76.0" targetFramework="net48" />
  <package id="Grpc.Net.Client" version="2.76.0" targetFramework="net48" />
  <package id="Grpc.Net.Client.Web" version="2.76.0" targetFramework="net48" />
  <package id="Grpc.Net.ClientFactory" version="2.76.0" targetFramework="net48" />
  <package id="Grpc.Net.Common" version="2.76.0" targetFramework="net48" />
  <package id="Grpc.Tools" version="2.76.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.2" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http.WinHttpHandler" version="10.0.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.2" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>