<?xml version="1.0"?>
<!-- /**********************************************************************
 * Copyright © 2009, 2010, 2011, 2012 OPC Foundation, Inc. 
 *
 * The source code and all binaries built with the OPC .NET 3.0 source
 * code are subject to the terms of the Express Interface Public
 * License (Xi-PL).  See http://www.opcfoundation.org/License/Xi-PL/
 *
 * The source code may be distributed from an OPC member company in
 * its original or modified form to its customers and to any others who
 * have software that needs to interoperate with the OPC member's OPC
* .NET 3.0 products. No other redistribution is permitted.
 *
 * You must not remove this notice, or any other, from this software.
 *
 *********************************************************************/-->
<configuration>
	<appSettings>
		<add key="Vendor" value="MyCompany"/>
		<add key="Server" value="Xi Server Discovery Server"/>
		<!--The next two entries are used to define the path to the manual configuration 
			file that containsa list of URLS or IP Addresses/Port Numbers of Xi Servers.-->
		<!--Note that the path may contain Windows environment variables enclosed in '%'.-->
		<add key="ServerUrlFilePath" value="%ALLUSERSPROFILE%\OPC Xi\"/>
		<add key="ServerUrlFileName" value="XiServerUrls.txt"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Xi.Server.Base.ServerRoot" behaviorConfiguration="faults">
				<endpoint address="serverDiscovery" contract="Xi.Contracts.IServerDiscovery" binding="basicHttpBinding"/>
				<host>
					<baseAddresses>
						<!--Any available Port Number can be used for the Discovery Server. 
							This implementation uses Port Number 57080. It is recommended that 
							all Discovery Servers use this Port Number if it is available.-->
						<add baseAddress="http://localhost:57080/XiServices"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="faults">
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.net>
		<defaultProxy>
			<proxy bypassonlocal="True"/>
		</defaultProxy>
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
