<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Trace Levels (records in log file): All, Off, Critical, Error, Warning, Information, Verbose, ActivityTracing -->
    <add key="LogLevels" value="Error" />
    <add key="DebugLogLevels" value="All, ActivityTracing" />
    <add key="LogFilePath" value="%ProgramData%\Ssz\Logs" />
    <add key="ServerAddress" value="https://localhost:60060" />
    <!-- Allow all tags to be added to server (Even that not exist in config file). -->
    <add key="AllowAddingUnknownTags" value="true" />
    <!-- When specified and AllowAddingUnknownTags="true" - only OPC Tags with this prefix will be added. Prefix then will be removed from final tag. -->
    <add key="FilterForAddingUnknownTags" value="" />
    <add key="SystemNameToConnect" value="MODEL" />
    <add key="InterfaceDesc" value="РСУ" />
  </appSettings>
  <runtime>
	<!-- Package Manager Console: Get-Project –All | Add-BindingRedirect -->	  
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.Net.Http.WinHttpHandler" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="Microsoft.Extensions.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />	  
    
          </dependentAssembly>	  
    
          <dependentAssembly>	  
    
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />	  
    
                <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />	  
    
          </dependentAssembly>	  
    
    </assemblyBinding>
  </runtime>
</configuration>
